<div class ="relative bg-gray-600">
  <div class="relative flex justify-center">
    <div class="relative bg-gray-400 lg:w-1/2 w-5/6 h-full m-5 shadow rounded-3xl">
      <h1 class="font-headings lg:text-4xl text-2xl text-center justify-items-center text-neediegreen p-5">Create your Cocktail</h1>
        <div class="flex justify-center h-full mx-5 mb-5">
          <div class="w-full">
            <%= simple_form_for(@cocktail) do |f| %>
              <div class = "form-inputs">
              <h1> Name of Cocktail</h1>
                <%= f.input :name,
                            required: true,
                            autofocus: false,
                            label: false,
                            input_html: {placeholder: "Ex. Mojito", class: "font-headings mt-1 mb-4 block w-full rounded-3xl border-neediegreen bg-white focus:border-gray-300 focus:bg-white focus:ring-0"}%>
              <h1> Description</h1>
                <%= f.input :description,
                            required: false,
                            autofocus: true,
                            label: false,
                            input_html: {placeholder: "Mojito and me are mint to be", class: "font-headings mt-1 mb-4 block w-full rounded-xl border-black bg-white focus:border-gray-300 focus:bg-white focus:ring-0"}%>
               <h1> Upload a photo of your Cocktail</h1>
                <%= f.input :photo, as: :file,
                            label: false,
                            required: false,
                            input_html: {class: "font-headings mt-1 mb-4 block w-full rounded-2xl bg-white focus:border-gray-300 focus:bg-white focus:ring-0 text-sm"} %>
              </div>
              <div class="form-actions mt-3 flex justify-center">
                <%= f.button  :submit, "Submit Cocktail",  class: "font-headings py-2 px-5 border rounded-3xl text-white" %>
              </div>


            <% end %>
          </div>
        </div>



    </div>




  </div>



</div>
