<!DOCTYPE html>
<html>
  <head>
    <title>Cocktails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%# <h1 class="p-5 bg-indigo-400 rounded-xl w-2/5">Hello World</h1> %>
  </head>

<header class="absolute shadow-sm bg-transparent">
  <div class="max-w-screen-xl p-4 mx-auto ">
    <div class="flex items-center justify-between space-x-4 lg:space-x-10">
      <div class="flex lg:w-0 lg:flex-1">
        <span class="text-2xl text-"> <h1><%= link_to "Tipsy Tribe", root_path %></h1></span>
      </div>
    </div>
  </div>
</header>




  <body>
    <%= yield %>
  </body>
</html>
